name: CI Build

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ master, dev ]
  workflow_dispatch:

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js 22
      uses: actions/setup-node@v4
      with:
        node-version: 22
        cache: "yarn"

    - name: Get dependencies and build
      run: |
        yarn install
        yarn build

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist/
